body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.5s;
  overflow-x: hidden;
}

.container {
  margin: 1.5em auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
.shadow {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.info {
  padding: 1em;
  background-color: #3e474f;
  color: white;
}
.infoicons {
  border: 0;
  margin: 0;
  background: transparent;
  float: right;
  outline: none;
  padding: 0 0.6em;
  color: white;
  cursor: pointer;
}
.text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 15vh;
  margin: 0;
  border: 0;
  outline: none;
  padding: 1em;
}
#brailleText {
  padding: 1em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.brailleText {
  padding: 0.5em;
  line-height: 2.1em;
}
.layer1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.layer2 {
  background-color: rgba(0, 0, 0, 0.2);
}
#toast {
  position: fixed;
  width: 100vw;
  height: 0px;
  background: #39a82f;
  color: white;
  font-size: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.information {
  padding: 0.5em;
  font-size: 0.7em;
  color: #3e474f;
  text-align: left;
}
footer {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover-a {
  text-decoration: none;
  color: blue;
  transition: all 0.5s;
}
.hover-a:hover {
  color: brown;
}
