@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.tool {
  cursor: pointer;
  position: relative;
  text-align: center;
}

.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}

.tool::after {
  background: #3d5fcc;
  border-radius: 0.25em;
  bottom: 180%;
  color: #edeff0;
  content: attr(data-tip);
  padding: 0.2em;
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
  transform: scale(0.6) translateY(50%);
  width: 6em;
}

.tool:hover::after,
.tool:focus::after {
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
}

@media (max-width: 760px) {
  .tool::after {
    font-size: 0.75em;
    margin-left: -5em;
    width: 10em;
  }
}

nav {
  width: 100vw;
  height: 4em;
  background-color: #3d5fcc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.container {
  margin: 1.5em auto;
  max-width: 1280px;
  width: 80%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
.shadow {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.info {
  padding: 1em;
  background-color: #3e474f;
  color: white;
}
.text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 15vh;
  margin: 0;
  border: 0;
  outline: none;
  padding: 1em;
}
#brailleText {
  padding: 1em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.brailleText {
  padding: 0.5em;
  line-height: 2.1em;
}
.layer1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.layer2 {
  background-color: rgba(0, 0, 0, 0.2);
}
